$page_background: #d75653;

html, body {
  width: 100%;
  height: 100%;
}

// https://stackoverflow.com/questions/70020000/how-to-make-div-cover-whole-page-and-not-only-viewport
div#background {
  position: fixed;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  overflow-x: auto;
  background-color: $page_background;

  display: flex;
  justify-content: center;
}

#timer_div {
  margin-top: 30px;
  margin-bottom: auto;

  padding: 10px;

  width: 400px;

  text-align: center;
  align-content: space-between;

  border-radius: 14px;
  background-color: scale-color($page-background, $lightness: +15%);
}

#timer_button {
  font-size: 24px;
  padding: 12px 28px;
  width: 200px;
  border-radius: 12px;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #aaaaaa;
  }
}

#time_remaining {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

footer {
  position: fixed;
  justify-content: right;
  bottom: 0;
}
