$timer_background: #d75653;

body {
  background-color: $timer_background;
}

#timer_div {
  margin-top: 30px;
  margin: auto;
  padding: 10px;
  max-width: 400px;
  text-align: center;
  align-content: space-between;

  background-color: scale-color($page-background, $lightness: +15%);
}

#timer_button {
  font-size: 24px;
  padding: 12px 28px;
  width: 200px;
  border-radius: 12px;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #aaaaaa;
  }
}

#time_remaining {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

footer {
  position: fixed;
  justify-content: right;
  bottom: 0;
}
